/* 全局样式 */
*{
	padding: 0;
	margin: 0;
}
ul{
	overflow: hidden;
}
a{
	text-decoration: none;
	color: #808080;
}
/* 通用样式 */
.bgcolor{
	background-color: gainsboro;
}
/* 局部样式 */
/* 导航 */
ul li{
	float: left;
	list-style: none;
	padding: 0.625rem 1.25rem;
	box-shadow: 0.125rem 0.125rem 0.3125rem 0.3125rem gray;
	margin: 0.5rem 0.1875rem;
	position: relative;
	cursor: pointer;
}
ul li:active{
	top: 0.125rem;
}
/* 内容主体 */
.content{
	height: 93vh;
}